body {
  background-color: #f5f8fa;
}

button[data-follow-text]:after {
  content: attr(data-follow-text);
}

.hidden {
  display: none !important;
}

.wider {
  width: 30%;
}

#masthead {
  padding-top: 20px;
  height: 200px;
  background-image: url('../images/background.jpg');
  background-size: cover;
}

#wrapper {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#visit-card {
  margin-top: 0px;
}
