body {
  background-color: #f5f8fa;
}

.hidden {
  display: none !important;
}

.wider {
  width: 30%;
}

.wrapper {
  margin-top: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1200px !important;
}

.auto-width {
  width: auto !important;
}

.tweet {
  padding-bottom: 14px;
}

#masthead {
  padding-top: 20px;
  height: 200px;
  background-image: url('../images/background.jpg');
  background-size: cover;
}

#visit-card {
  margin-top: 0px;
}

#top {
  position: fixed;
  bottom: 50px;
}

[data-follow-text]:after {
  content: attr(data-follow-text);
}

[data-visit]:hover {
  cursor: pointer;
}
